/************* error *************/
div.error{padding:40px;width:400px;text-align:center;margin:80px auto 30px;background:#f2f2f2;border-radius:10px;-webkit-border-radius:10px;box-shadow:0 3px 5px #aaa;-webkit-box-shadow:0 3px 5px #aaa;}
div.error h2{font:bold 25px arial;color:#000;text-align:center;} 
div.error h2 img{width:25px;margin-top:-2px}
div.error p{text-align:center;font-size:12px;padding:20px 0}
div.error button{width:150px;height:35px;color:#fff;background:#2faefe;border:0;font:bold 14px arial;-webkit-border-radius:4px;border-radius:4px;cursor:pointer;}
.chatroomBtn{width:100%; margin-top:20px;  margin-bottom:-5px; height:30px;}
div.error2{width:900px; margin:0 auto;}
.pointer{cursor:pointer;}

.cl_both:after {display:block;clear:both;content:'';}
.inp_reado[readonly] {background:#fff;}
.radio_df input[type="radio"] {position:relative;top:2px;margin-top:0;}
.radio_df label {margin-bottom:0;}


/* @@@20180717 백국현  포토매니저팝업 추가 */
.list_info{overflow:hidden; padding:0 20px}
.list_info div{float:left; width:120px; height:90px; border-radius: 5px; overflow:hidden; margin-right:20px}
.list_info div img{width:100%;}
.list_info ol{float:left; list-style:none; margin:0; padding:0; width:250px;}
.list_info ol li {position:relative; padding-left:70px; padding-bottom:5px}
.list_info ol li span{width:70px; position:absolute; left:0; top:0; font-weight:bold}

/* 20180718 mk 텍스트가 레이아웃을 벗어날경우 ... 처리 */
.txt_overflow {white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; word-wrap:break-word;}
.table_fixed {table-layout: fixed; }
/* 20180724 mk 필수 입력 필드에 (*)추가 */
.required_field:after { content:"(*)";color:red;}
/* 20200316 텍스트 줄바꿈 처리 */
.txt_linebreak { white-space: inherit !important; word-break: break-word; }

