@charset "UTF-8";

textarea.cke_source { background-color: #1b1c24 !important }
/**공통**/
.clearfix::after{ content: ''; clear: both; display: block; }
.pc_cut { display: block; vertical-align: baseline; }
.m_cut{ display: inline; vertical-align: baseline; }
.pc_view { display: block ;  }
.m_view { display: none ;   }
.c_sky{ color:#17a9ca !important; }
.c_red{ color:#b00000 !important; }
.mt10 { margin-top:10px }
.mt30 { margin-top:30px }
.mt40 { margin-top:40px }
.ml10 { margin-left:10px; }
.mr10 { margin-right:10px !important; }
.mr20 { margin-right:20px !important; }
.mr30 { margin-right:30px !important; }
.mb20 { margin-bottom:20px }
.mb30 { margin-bottom:30px }
.wp90 { width:90% !important;; }
.wp95 { width:95% !important; }
.wp100{ width:100% !important;  }
.mauto{ margin:auto }

.w100{ width:100px !important; }
.w150{ width:150px !important; }
.w200{ width:200px !important; }
.w300{ width:300px !important; }
.w400{ width:400px !important; }
.w500{ width:500px !important; }
.w600{ width:600px !important; }

.pd15{ padding:15px; }

.pl40{ padding-left:40px; }

::-webkit-scrollbar{width: 4px;}
::-webkit-scrollbar-track {background-color:#959598;}
::-webkit-scrollbar-thumb {background-color:#646464;border-radius: 4px;}
::-webkit-scrollbar-thumb:hover {background: #17a9ca;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
	width:4px;height:4px;background:#cecece;}
.btn_position{ position: relative }
.btn_position--cnt{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}
.btn_position--cnt.left{ left:0; }
.btn_position--cnt.right{ right:0; }

/** HEADER **/
.header_wrap {
	width:100%;
	background: #20212a;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
	position: fixed;
	top:0;
	left:0;
	z-index: 20;
}
.header{
	width:calc(100% - 60px);
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}
.header_link{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content:center;
	height:68px;
}
.header_link li{ margin-left:40px; position:relative; }
.header_link li.user::after{
	content:'';
	width:1px;
	height: 20px;
	background:#303030;
	position:absolute;
	top:50%;
	right:-20px;
	transform:translateY(-50%);
}
.header_link li a{
	display:flex;
	align-items:center;
	align-content:center;
	justify-content:center;
}
.header_link li a span{
	font-size: 13px; font-weight:400; color:#959598; margin-left:5px;
}
.header_link li.user a span{ color:#fff; }

/** 사이드 네비 **/
.side_nav_wrap{
	width:240px;
	background:#20212a;
	display:flex;
	align-items:stretch;
	justify-content:space-between;
	flex-direction:column;
	padding-bottom:40px;
}
.side_nav{ padding:100px 30px 0; box-sizing:border-box; }
.side_nav > li { margin-bottom:20px; }
.lnb_1depth{
	display:flex;
	align-items: center;
	align-content: center;
	justify-content:space-between;
}
.lnb_1depth > strong{
	font-size:15px;
	font-weight:400;
	color:#959598;
	display:block;
	margin-left:30px;
	position:relative;
}
.side_nav li.active .lnb_1depth strong { color:#fff; }
.side_nav li .lnb_1depth strong::before{
	content:'';
	display:block;
	width:10px;
	height:10px;
	border:2px solid #959598;
	border-radius:50%;
	box-sizing:border-box;
	position:absolute;
	left:-30px;
	top:50%;
	transform:translateY(-50%);
}
.side_nav li.active .lnb_1depth strong::before { border:2px solid #fff; }
.side_lnb_inner{ margin: 16px 0 20px 25px; position:relative; display:none;}
.side_lnb_inner::before{
	content:'';
	width:2px;
	height:0%;
	position:absolute;
	left:-22px;
	top:50%;
	transform:translateY(-50%);
	transition-duration:0.5s;
	background:#1d4a5a;
}
.side_lnb_inner.on::before{ height:100% }
.side_lnb_inner li:not(:last-child) { margin-bottom:10px; }
.side_lnb_inner li a {
	font-size:13px;
	font-weight:400;
	color:#959598;
	vertical-align:top;
}
.side_lnb_inner li.active a { color:#fff; }
.side_footer{
	font-size: 12px;
	font-weight:400;
	color:#6c6c6d;
	text-align:center;
	line-height:1.4;
}


/*화살표*/
.nav_arrow {
	width:12px;
	height:8px;
	position:relative;
	display:block;
	transition-duration:0.5s;
	transform-origin:top;
}
.nav_arrow.on{ transform:rotate(180deg); }
.nav_arrow b{
	width:8px; height:2px; position:absolute;
}
.nav_arrow.gray b{ background:#959598; }
.nav_arrow.gray.on b{ background:#fff; }
.nav_arrow b:first-child {
	left:0; top:0; transform:rotate(45deg)
}
.nav_arrow b:last-child {
	right:0; top:0; transform:rotate(-45deg)
}
/** 모달창 **/
.modal{ display:none; }

/**컨텐츠 영역**/
.cnt_wrap{
	display:flex;
	align-items:stretch;
	align-content:stretch;
	justify-content:space-between;
	min-height:100vh;
}
.content-wrapper{
	width:calc(100% - 240px);
	padding:68px 40px 40px 40px;
	box-sizing:border-box;
	background:#15171c;
}
/* 타이틀 */
.content-header{
	display:flex;
	align-items:center;
	align-content:center;
	justify-content:space-between;
	padding:40px 0 30px;
}
.content-header-cnt{
	display:flex;
	align-items:center;
	align-content:center;
	justify-content:flex-start;
}
.content-header h1{
	font-size: 24px; font-weight:600; color:#fff; margin-right:20px;

}
.content-header-root{
	display:flex;
	align-items:center;
	align-content:center;
	justify-contents: center;
}
.content-header-root li{
	font-size: 14px; font-weight:400; color:#959598;
}
.content-header-root li:not(:last-child)::after{
	content:'/'; display:inline-block; margin:0 4px;
}
/* 레이아웃 */
.flex{
	display:flex; align-items:flex-start; align-content:flex-start;
}
.gap10{ gap:10px; }
.flex_cen{ display:flex !important; align-items:center !important; align-content:center !important; }
.items_start{ align-items: flex-start !important; }
.flex_col{ display:flex; flex-direction:column }
.flex_wrap{ flex-wrap:wrap }
.stretch{ align-items: stretch; align-content: stretch }
.between{ justify-content:space-between; }
.start{ justify-content:flex-start; }
.end{ justify-content:flex-end; }
.center{ justify-content:center !important;; }
.col100{ width:100%; }
.col78{ width:78%; }
.col49{ width:49%; }
.col43{ width:43%; }
.col32{ width:32%; }
.col26{ width:26%; }
.col24{ width:24%; }
.col21{ width:21%; }
.col20{ width:20%; }
.col18{ width:18%; }
.box{
	background:#20212a;
	border-radius:10px;
	padding:30px;
	box-sizing:border-box;
}
.box.no-pad{ padding: 0; }
.box-header{
	padding:20px 30px;
	border-bottom:1px solid #3a3c4d ;
	box-sizing:border-box;
}
.box-header h3{
	font-size: 16px; font-weight: 600; color:#ffffff;
}

.id_resize{ min-height:calc(100vh - 200px); }
.id_resize_inner{ height:calc(100vh - 260px); }
.id_resize_inner2{ height:calc(100vh - 340px); }
.campaign_wrap{ min-height:580px; }
.gap_chart_sec{ height:1.5vw; }
.step_arrow{ position:relative; }
.step_arrow::before{
	content:'';
	width:17px;
	height:20px;
	background:url('/common/images/step_arrow.png')center no-repeat;
	background-size:cover;
	position:absolute;
	right:calc(-1.7vw + 8.5px);
	top:20px;
	z-index:2;
}

/**컨텐츠**/
.menuMgt li{  }
.menuMgt li a{
	font-size: 14px; font-weight:400; color:#ffffff; margin-bottom:20px;
}
.jstree-default .jstree-icon { background-image: none !important; }
.jstree-default .jstree-node{ margin-bottom:15px; }
.jstree .jstree-open>.jstree-children{ margin-top:15px;  }
.jstree-default .jstree-node, .jstree-default .jstree-icon {background-image:none !important; }
.jstree-default .jstree-wholerow-clicked{ background-image:none !important; }
.jstree-default .jstree-icon:empty {
	width: 16px !important;
	height: 16px !important;
	line-height: 16px !important;
	border:2px solid #6c6c6d;
	border-radius:3px;
	box-sizing:border-box;
}
.jstree-default>.jstree-no-dots .jstree-node, .jstree-default>.jstree-no-dots .jstree-leaf>.jstree-ocl { border:none; }
.jstree-default>.jstree-no-dots .jstree-node, .jstree-default>.jstree-no-dots .jstree-leaf>.jstree-ocl::before { background:none !important; }
.jstree-default>.jstree-no-dots .jstree-node, .jstree-default>.jstree-no-dots .jstree-leaf>.jstree-ocl::after { background:none !important; }
.jstree-anchor { color: #fff !important; font-size:14px !important; line-height: 1 !important; height: auto !important; }
.jstree-default .jstree-wholerow-hovered { background: none !important;}
.jstree-default .jstree-wholerow-hovered { color:#17a9ca !important; }
.jstree-default.jstree-wholerow-clicked { color:#17a9ca !important; }
.jstree-anchor.jstree-clicked{ color:#17a9ca !important; }
.jstree-anchor.jstree-hovered{ color:#17a9ca !important; }
.jstree-icon{ margin-right:10px !important; }
.jstree-ocl::after{
	content:'';
	width:8px;
	height:2px;
	background:#6c6c6d;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.jstree-ocl::before{
	content:'';
	width:8px;
	height:2px;
	background:#6c6c6d;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.jstree-default>.jstree-no-dots .jstree-closed>.jstree-ocl::before {
	transform:translate(-50%,-50%) rotate(90deg);
}
.jstree-icon.jstree-ocl.on::before{ background:#17a9ca; }
.jstree-wholerow.jstree-wholerow-clicked .jstree-ocl::after{ background:#17a9ca; }
.jstree-wholerow.jstree-wholerow-clicked .jstree-ocl::before{ background:#17a9ca; }
.jstree-default.jstree-wholerow-clicked::after { background:#17a9ca !important; }
.jstree-default.jstree-wholerow-clicked::before { background:#17a9ca !important; }
.jstree-anchor.jstree-clicked .jstree-icon.jstree-checkbox{ border:2px solid #17a9ca !important; }
.jstree-icon.jstree-checkbox.jstree-undetermined  { border:2px solid #17a9ca !important; }
.jstree-anchor.jstree-clicked .jstree-icon.jstree-checkbox::before{
	content:'';
	width:5px;
	height:2px;
	background:#17a9ca;
	position:absolute;
	top:58%;
	left:20%;
	transform:translate(-50%,-50%) rotate(40deg);
}
.jstree-anchor.jstree-clicked .jstree-icon.jstree-checkbox::after{
	content:'';
	width:10px;
	height:2px;
	background:#17a9ca;
	position:absolute;
	top:50%;
	left:65%;
	transform:translate(-50%,-50%) rotate(-45deg);
}
.jstree-icon.jstree-checkbox.jstree-undetermined::before{
	content:'';
	width:6px;
	height:6px;
	background:#17a9ca;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

/**리스트 타입**/
.list_type_name{
	font-size:14px;
	font-weight:400;
	color:#fff;
	width:55px;
	border-right:1px solid #3c3c3c;
	margin-right:10px;
}
.list_type li{
	padding:20px 28px; border-bottom:1px solid #2d2e3b; box-sizing:border-box;
}
.list_type li:last-child{ border:none !important; }
.list_type li.on{ background:#292a36;}
.list_type li.on .ontag{ color:#17a9ca }
.list_type_data{
	font-size:14px;
	font-weight:400;
	color:#fff;
	margin-right:20px;
}
.list_type_day{
	font-size: 14px;
	font-weight:400;
	color:#959598 ;
	display:block;
	width:100px;
}
.list_type_tit{
	font-size: 14px;
	font-weight:400;
	color:#fff ;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width: calc(100% - 100px);
}
.list_type_ring li{
	width:160px;
	height:160px;
	border:1px solid #393b4b;
	border-radius:50%;
	box-sizing:border-box;
	margin-right:30px;
	position:relative;
}
.list_type_ring li div{
	width:100%; height:100%; font-size:15px; color:#959598; font-weight:400;
}
.list_type_ring h3 {
	text-align:center; font-size:20px; color:#fff; width:100%; padding:20px 0;
}
.list_type_ring li.select_brand{
	background:none !important; border:2px solid #17a9ca;
}
.list_type_ring li.select_brand::after{
	content:'';
	width:24px;
	height:24px;
	background:#17a9ca url('/common/images/chk_icon.png')center no-repeat;;
	background-size:auto;
	border-radius:50%;
	position:absolute;
	top:10px;
	right:10px;
}
.list_type_ring li.select_brand div{ color:#17a9ca; }



/**버튼 타입**/
.btn_wrap a{ margin-right:10px; }
.btn_wrap button.ml10{ margin-left:10px; }
.btn_bg_gray{ background:#424459 !important; color:#fff!important; }
.btn_bg_sky{ background:#17a9ca !important; color:#fff!important; }
.btn_bg_red{ background:#FF4848 !important; color:#fff!important; }
.btn_bg_none{ background:none; }

.btn-primary{
	padding: 0px 10px;
	height:36px;
	display:flex;
	align-items:center;
	align-content:center;
	justify-content: center;
	border-radius:4px;
	border:none;
	cursor:pointer;
}
.btn-primary span{
	font-size: inherit; font-weight:400;
}
.btn-primary img{ margin-right:5px; }
.btn_line{
	display:flex;
	align-content:center;
	align-items:center;
	justify-content:center;
	font-size: 14px;
	font-weight:400;
	color:#959598 ;
	border:1px solid #3a3c4d;
	box-sizing:border-box;
	height:40px;
	border-radius:2px;
	background:none;
}
.btn_line.w120{ width:120px; }
.btn_line.w160{ width:160px; }
.btn_line.on{ border:2px solid #17a9ca; color:#17a9ca;  }
.menu_btn{
	font-size: 13px;
	font-weight:400;
	color:#959598;
	display:flex;
	align-items:center;
	align-content:center;
	justify-content:flex-start;
	margin-left:15px;
}
.menu_btn_box{
	width: 16px;
	height: 16px;
	line-height: 16px;
	border:2px solid #6c6c6d;
	border-radius:3px;
	box-sizing:border-box;
	display:block;
	margin-right:5px;
	position:relative;
}
.menu_btn_box::before{
	content:'';
	width:8px;
	height:2px;
	background:#6c6c6d;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.menu_btn_box.plus::after{
	content:'';
	width:8px;
	height:2px;
	background:#6c6c6d;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%) rotate(90deg);
}
.add_btn{
	font-size: 14px; font-weight:400; color:#fff; background:none; border:none;
}
.add_btn_icon{
	width: 20px;
	height: 20px;
	border-radius:50%;
	background:#17a9ca;
	display:inline-block;
	font-size: 16px;
	vertical-align:baseline;
	text-align:center;
	margin-right:5px;
	font-weight:400;
	color:#20212a

}

/**파일 업로드 타입**/
.file_upload{
	font-size: 14px;
	font-weight:400;
	color:#fff;
	background:none;
	border:none;
}

.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}
.filebox label {
	font-size: 14px;
	font-weight:400;
	color:#fff;
	background:none;
	border:none;
	display:flex;
	align-content:center;
	align-items:center;
	justify-content:flex-start;
	cursor:pointer;
}

.file_upload_icon{
	width: 20px;
	height: 20px;
	border-radius:50%;
	background:#17a9ca;
	display:inline-block;
	font-size: 16px;
	vertical-align:baseline;
	text-align:center;
	margin-right:5px;
	font-weight:400;
	color:#20212a

}
/* named upload */
.filebox .upload-name {
	display:block;
	width:200px;
	font-size:14px;
	font-weight:400;
	color:#959598;
	background:none;
	-webkit-appearance: none;/* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:12px;
}
.filebox .upload-bar{
	background:#1b1c24;
	height:36px;
	border:1px solid #3a3c4d;
	border-radius:4px;
	box-sizing:border-box;
	text-indent:10px;
	color:#fff;
	font-size: 14px;
	font-weight:400;
	font-family: 'NotoSansKR', '돋움', Sans-serif;
}






/**체크박스 타입**/
.check_type{ display:none; }
.check_type + label{
	font-size: 14px;
	font-weight:400;
	color:#fff;
	margin-left:22px;
	position:relative;
	cursor:pointer;
}
.check_type.mr20 + label{ margin-right:20px !important; }
.check_type + label span{
	display:block;
	width:16px;
	height: 16px;
	border:2px solid #6c6c6d ;
	box-sizing:border-box;
	border-radius:50%;
	position:absolute;
	top:50%;
	left:-22px;
	transform:translateY(-50%);
}
.check_type:checked + label span{ border:2px solid #17a9ca; }
.check_type:checked + label span::before{
	content:'';
	width:6px;
	height:6px;
	background:#17a9ca;
	border-radius:50%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.check_type2 + label{
	font-size: 14px;
	font-weight:400;
	color:#fff;
	margin-left:22px;
	position:relative;
	cursor:pointer;
	height:30px;
}
.check_type2 + label span{
	display:block;
	width:16px;
	height: 16px;
	border:2px solid #6c6c6d ;
	box-sizing:border-box;
	border-radius:4px;
	position:absolute;
	top:50%;
	left:-22px;
	transform:translateY(-50%);
}
.check_type2:checked + label span{ border:2px solid #17a9ca; }
.check_type2:checked + label span::before{
	content:'';
	width:8px;
	height:8px;
	background:url(/common/images/min_chk_icon.png) center no-repeat;

	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.check_type2.on + label span{ border:2px solid #17a9ca; }
.check_type2.on + label span::before{
	content:'';
	width:8px;
	height:8px;
	background:url(/common/images/min_chk_icon.png) center no-repeat;

	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

/**테이블 타입**/
.table-responsive{ width:100%; overflow-x:scroll;  }
.table_type.wp100{ width:100%;  }
.table_type.over{ width:2000px; }
.table_type tr td.pb15  { padding-bottom:15px; }
.table_type caption{ color: #fff; margin:25px 0 10px; }
.dark_table th{
	font-size: 13px;
	font-weight:400;
	color:#666775;
	padding:23px 0;
	border-bottom:1px solid #666775;
	box-sizing:border-box;
}
.dark_table th.brl{ border-right:1px solid #3a3c4d }
.dark_table td{
	border-bottom:1px solid #2d2e3b; box-sizing:border-box;
}
.dark_table td.brl{ border-right:1px solid #3a3c4d }
.dark_table td{
	/* padding:23px 0; */
	height:60px;
	text-align:left;
	font-size:14px;
	color:#fff;
	vertical-align:middle;
}
.dark_table td .txt_overflow_user{
	font-size:14px;
	color:#fff;
}
.dark_table td.text-center{ text-align:center; }
.dark_table td.text-left{ text-align:left; }

.dark_table2 th{
	font-size: 13px;
	font-weight:400;
	color:#666775;
	text-align:left;
	padding:10px 0;
}
.dark_table2 th p.mid{
	height:36px;
	display:flex;
	align-items: center;
	line-height:1;
}
.dark_table2 th p.required_field::after {
	content:'*';
	color:#b00000;
}
.dark_table2 td{
	padding:10px 0 15px;
	text-align:left;
	font-size:14px;
	color:#fff;
	vertical-align:middle;
}
.bootstrap-datetimepicker-widget td{ color:#000; }
.dark_table3 > tbody > tr > th{
	font-size: 13px;
	font-weight:400;
	color:#666775;
	text-align:left;
}
.dark_table3 > tbody > tr > td{
	padding:10px 0 20px;
	text-align:left;
	font-size:14px;
	color:#fff;
	vertical-align:middle;
	line-height:1.6 !important;
}
.dark_table3 > tbody > tr > td *{ line-height:1.6 !important; }
.table_sup_sec_tit{
	font-size: 20px;
	color:#fff;
	font-weight:400;
	text-align:center;
	margin-bottom:35px;
}
.table_add_total_list{ margin-bottom:30px; }
.table_add_total_list li p{
	font-size: 13px;
	font-weight:400;
	color:#666775;
	text-align:center;
}
.table_add_total_list li h3{
	font-size: 18px;
	font-weight:600;
	color:#fff;
	text-align:center;
	margin-top:10px;
}
.order_td th{ cursor:pointer; }
.total_td td { color:#a1edfe; background:#292a36; }
.brand_tbody .select_brand{ background:#292a36; color:#17a9ca; }
.brand_tbody .select_brand td{ color:#17a9ca; }

/**그래프**/
.highcharts-background{ background:none; fill:none !important; }
.highcharts-legend-box{ background:none; fill:none !important; }
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-tracker rect{ stroke:none;}
/*
	.highcharts-axis-labels.highcharts-yaxis-labels { color:#fff !important }
		.highcharts-axis-labels.highcharts-yaxis-labels text {
			color:#b0b4b2 !important; fill:#b0b4b2 !important;
		}
		.highcharts-axis-labels.highcharts-xaxis-labels text{
			color:#b0b4b2 !important; fill:#b0b4b2 !important;
		}
		.highcharts-axis.highcharts-yaxis text{ fill:#5c8f3d !important; color:#5c8f3d !important; }
		.highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line{ stroke:#33343c !important; }
		.highcharts-a11y-proxy-button{ opacity:1 !important; color:#fff !important; }
		.highcharts-a11y-proxy-button[aria-label]{ color:#fff !important; fill:#fff !important; }
		.highcharts-markers.highcharts-series-1.highcharts-spline-series.highcharts-tracker path{
			fill:#5c8f3d !important;
		}
		.highcharts-markers.highcharts-series-1.highcharts-spline-series.highcharts-tracker{
			fill:#5c8f3d !important;
		}
		.highcharts-series.highcharts-series-1.highcharts-spline-series path:first-child{
			stroke:#5c8f3d !important;
		}
*/
/* .group_cols{ background:#207183 } */
.highcharts-series.highcharts-pie-series.highcharts-tracker path{ stroke:#20212a !important; }
.highcharts-grid.highcharts-yaxis-grid path{ stroke:#31323b }
.em_graphy{
	text-align:center; color:#fff; font-size:18px;
}

/**회원가입 아코디언**/
.join_accordion > li{ margin-bottom:20px; }
.join_accordion--tit{
	display:flex;
	align-items: center;
	justify-content:space-between;
	height:60px;
	padding:0 30px;
}
.join_accordion--tit h3{
	font-size:20px; font-weight:600; color:#fff;
}
.join_accordion--tit span{
	width:30px;
	height:20px;
	position:relative;
	display:block;
	transition-duration:0.5s;
}
.join_accordion--tit span::before{
	content:'';
	width:18px;
	height:2px;
	background:#fff;
	position: absolute;
	left:0;
	top:8px;
	display: block;
	transform:rotate(-45deg)
}
.join_accordion--tit span::after{
	content:'';
	width:18px;
	height:2px;
	background:#fff;
	position: absolute;
	right:0;
	top:8px;
	display: block;
	transform:rotate(45deg)
}
.join_accordion--tit.on span{
	transform:rotate(180deg);
}
.join_accordion--cnt{
	padding:30px;
	border-top: 1px solid #999999;
	box-sizing: border-box;
	display:none;
}

/**페이지네이션**/
.pagination{
	display:flex;
	align-items:center;
	align-content:center;
	justify-content:center;
	margin:0px auto;
	padding:30px 0;
}
.pagination li a{
	font-size:14px;
	font-weight:400;
	color:#959598;
	width:35px;
	height:35px;
	display:flex;
	align-items:center;
	align-content:center;
	justify-content:center;
	background-color: #20212a;
	border: #20212a;
}
.pagination li.active a{
	border-radius:50%;
	background:#17a9ca;
	color:#fff;
}
.pagination li.pagination_arrow a{font-size:30px; }



/**인풋 타입**/
input:-webkit-autofill:selected { background:initial }
.input-group{ width:320px; border-radius:4px; background:#20212a; }
/*인풋 타이틀*/
.input_tit{
	font-size: 13px;
	font-weight:400;
	color:#fffacd;
	margin:0px 0 8px;
}
/*텍스트*/
.form-control{
	background:#1b1c24;
	width:100%;
	height:36px;
	border:1px solid #3a3c4d;
	border-radius:4px;
	box-sizing:border-box;
	text-indent:10px;
	color:#fff;
	font-size: 14px;
	font-weight:400;
	font-family: 'NotoSansKR', '돋움', Sans-serif;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #2a2b38; color:#959598; opacity: 1;
}
.form-control2{
	padding:0;
	background:none;
	width:100%;
	height:36px;
	box-sizing:border-box;
	text-indent:10px;
	color:rgba(255,255,255,0.3);
	font-size: 14px;
	font-weight:400;
	font-family: 'NotoSansKR', '돋움', Sans-serif;
}
input.form-control2::-webkit-input-placeholder{ color:rgba(255,255,255,0.3); }
input.form-control2:-ms-input-placeholder{ color:rgba(255,255,255,0.3); }
input.form-control2::-moz-placeholder{ color:rgba(255,255,255,0.3); }
.form-control-cal{
	font-size:14px;
	color:#fff;
	background:url('/common/images/cal_icon.png')center left 10px no-repeat;
	background-size:18px;
	height:36px;
	width:120px;
}
.form-control-sel{
	width:120px;
	text-indent:10px;
	height:36px;
	font-size:14px;
	color:#fff;
	border:1px solid #3a3c4d;
	border-radius:4px;
	box-sizing:border-box;
	background:none;
	background:#1b1c24 url('/common/images/form_sel_icon.png') center right 10px no-repeat;
}
.form-control-sel option { background:#1b1c24; text-indent:10px; }
.form-control-sel option[value="1"] { background:#1b1c24; }
.form-control-sel option[value="2"] { background:#1b1c24; }
.form-control-sel02{
	border:none;
	background:#20212a url('/common/images/form_sel_icon.png') center right 10px no-repeat;
}


.txtarea{
	resize:none;
	background:#1b1c24;
	width:100%;
	height:200px;
	border:1px solid #3a3c4d;
	border-radius:4px;
	padding:10px;
	box-sizing:border-box;
	color:#fff;
	font-size: 14px;
	font-weight:400;
	font-family: 'NotoSansKR', '돋움', Sans-serif;
}

/**아이콘**/
.cal_icon{
	width:10px;
	height:10px;
	border-radius:50%;
	background:#666775;
	position:relative;
	display:block
}
.cal_icon b{
	width:6px;
	height:2px;
	background:#20212a;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.cal_icon.plus_icon b:last-child{ transform:translate(-50%,-50%) rotate(90deg); }
.arrow_icon{ width:6px; height:10px; display:block; margin-left:5px; }
.arrow_icon_up{
	background:url('/common/images/arrow_up_btn.png')center no-repeat;
	background-size:cover;
}
.arrow_icon_down{
	background:url('/common/images/arrow_down_btn.png')center no-repeat;
	background-size:cover;
}



/**라벨**/
.cnt_label{
	padding:7px 10px;
	background:#9069ff;
	border-radius:15px;
	font-size:13px;
	color:#fff;
	display:block;
	margin-left:5px;
}
.label_type{
	/* 22.01.18 주석 처리 */
	/*width:60px;*/
	/*height:25px;*/
	border-radius:13px;
	font-size: 14px;
	font-weight:400;
	color:#fff;
	display:flex;
	align-content:center;
	align-items:center;
	justify-content:center;
	margin-left:8px;
}
.label_bg_sky{ background:#37b1ea }
.label_bg_pink{ background:#eb689a }
.label_bg_gray{ background:#5d5c5c }

/* 2021.08.09 홍정희 추가 */
.fileDrop2{display: inline-block;width: 100%;height: 300px;/*border: 1px solid #fffacd;*/overflow: auto; padding:5px; margin-right:10px; text-align:center; /* background:#747474;*/}
#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
	background: rgba( 69, 139, 197, 0.70 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 13.5px );
	-webkit-backdrop-filter: blur( 13.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	width: 800px;
	/*height: 700px;*/
	position: relative;
	top: 0px;
	padding: 10px;
}
#modal .title {
	padding-left: 10px;
	display: inline;
	text-shadow: 1px 1px 2px gray;
	color: white;

}
#modal .title h2 {
	display: inline;
}
#modal .close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

#modal .content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

.dpNone {
	display : none;
}

.uploadSign{width:100%;}
.uploadSign--item { margin-bottom: 20px; }
.uploadSign--tit {
	color:rgba(255,255,255,0.6);
	font-size:16px;
	font-weight: 400;
	padding:10px;
	box-sizing: border-box;
	width:100%;
}
.uploadSign--img{
	width:100%;
	height:200px;
	position: relative;
	object-fit: cover;
	border:1px solid rgba(255,255,255,0.6);;
}
.uploadSign--img img{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	object-fit: cover;
}