jwt:
  secret: your-super-secret-key-that-is-long-and-secure-enough-to-be-safe
  expiration_time: 3600000
spring:
  security:
    user:
      name: user
      password: ssafy123
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080

logging:
  level:
    com.minjeok4go.petplace.auth: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web.filter: DEBUG