<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <style>
        .new_menu_table td {
            vertical-align: middle;
            padding: 15px;
        }
        .new_menu_table p {
            padding: 15px;
        }
    </style>
    <script th:inline="javascript">

        // 목록 버튼 클릭시 동작하는 함수 예시
        function fnList(){
            $("#aform").attr({action:"이동 경로 url", method:'post'}).submit();
        }
    </script>
    <section class="content-header">
        <h1>상세페이지</h1>
    </section>

    <section class="content">
        <form id="aform" name="aform" action="/cms/example/listExample.do">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="상세 시퀀스 컬럼명" th:value="${param.상세 시퀀스 컬럼명}" />
            <div class="box no-pad box-primary">
                <div class="box-header">
                    <h3 class="">Information</h3>
                </div>
                <div class="box-body box">
                    <table class="table_type dark_table2 wp100">
                        <tbody>
                        <tr>
                            <th>ex1</th>
                        </tr>
                        <tr>
                            <td th:text="${resultMap.컬럼명}"></td>
                        </tr>
                        <tr>
                            <th>ex2</th>
                        </tr>
                        <tr>
                            <td th:text="${resultMap.컬럼명}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="gap_chart_sec"></div>

            <div class="box-footer wp100 flex_cen end">
                <button type="button" class="btn-primary btn_bg_gray" onclick="fnList(); return false;">
                    <img src="/static/images/back_icon.png" alt="목록"> 목록
                </button>&nbsp;&nbsp;
            </div>

        </form>
    </section><!-- /.content -->
</th:block>
</html>