<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <style>
        .new_menu_table td {
            vertical-align: middle;
            padding: 15px;
        }
        .new_menu_table p {
            padding: 15px;
        }
    </style>
    <script th:inline="javascript">
        // 검색 함수 예시
        function fnSearch(){
            $("#aform").attr({action:"이동 경로 url", method:'post'}).submit();
        }
    </script>
    <section class="content-header">
        <h1>목록페이지</h1>
    </section>

    <section class="content">
        <form id="aform" name="aform" action="/cms/example/listExample.do">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class=" mb20">
                <div class="form-group  flex end">
                    <select id="search_list_st" name="sch_type" class="form-control-sel" th:value="${param.sch_type}">
                        <option value="옵션 값" th:selected="${param.sch_type eq '옵션 값'}" >검색타입1</option>
                    </select>
                    <div class="input-group flex between ml10">
                        <input type="text" class="form-control2" id="sch_text" name="sch_text" placeholder="검색어를 입력하세요." onKeydown="if(event.keyCode==13){fnSearch(); return false;}" th:value="${param.sch_text}" />
                        <button type="button" class="btn-primary btn_bg_none" onclick="fnSearch(); return false;">
                            <img src="/static/images/search_icon.png" alt="검색" />
                        </button>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box box-primary no-pad">
                <div class="box-body">
                    <table class="table_type dark_table wp100">
                        <colgroup>
                            <col width="80" />
                            <col width="20%" />
                            <col width="*" />
                            <col width="15%" />
                            <col width="15%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="text-center">No</th>
                            <th class="text-center txt_overflow">필드명1</th>
                            <th class="text-center txt_overflow">필드명2</th>
                            <th class="text-center txt_overflow">필드명3</th>
                            <th class="text-center">필드명4</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr style="cursor:pointer;cursor:hand;" th:each="result,i : ${resultList}" th:onclick="fnDetail([[${result.상세 시퀀스 컬럼명}]])">
                                <td class="text-center" th:text="${pageNavigationVo.getCurrDataNo() - i.index}"></td>
                                <td class="text-center" th:text="${result.컬럼명}"></td>
                                <td class="text-center" th:text="${result.컬럼명}"></td>
                                <td class="text-center" th:text="${result.컬럼명}"></td>
                                <td class="text-center" th:text="${result.컬럼명}"></td>
                            </tr>
                            <tr th:if="${resultList.isEmpty()}">
                                <td class="text-center" colspan="6" >데이터가 없습니다</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <div th:utext="${navigationBar}"></div>
                </div>
            </div><!-- /.box -->

            <div class="gap_chart_sec"></div>

            <div class="box-footer wp100 flex_cen end">
                <button type="button" class="btn-primary btn_bg_sky" onclick="fnInsertForm(); return false;">
                    <img src="/static/images/add_icon.png" alt="등록"> 등록
                </button>
            </div>

        </form>
    </section><!-- /.content -->
</th:block>
</html>