<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--resultType 을 간단하게 작성할 수 있게 설정-->
<configuration>
    <typeAliases>
        <typeAlias alias="dataMap" type="com.ssafy.cms.constant.DataMap"/>
    </typeAliases>
</configuration>