<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">
  <footer class="main-footer">
    <!-- Default to the left -->
    <strong>Copyright 2019. <a href="#"></a>.</strong> All Rights Reserved.
  </footer>
  <div id="loading-wrap" style="position: fixed;width: 100%;height: 100%;top: 0;left: 0; z-index: 1100; display:none;">
    <div class="loading_img" style="text-align:center;padding-top:370px;"><img src="/common/images/common/code_loading.gif"></div>
  </div>
</th:block>
</html>