<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
    <form id="sideForm" action="/common/inc/sidebar.do"></form>
    <div class="side_nav_wrap">
        <ul id="topMenuWrap" class="side_nav">
            <li class="">
                <a href="javascript:fnGoUrl('/main.do');" class="lnb_1depth">
                    <strong>대시보드</strong>
                </a>
            </li>
            <li class="">
                <a href="#void" class="lnb_1depth">
                    <strong>운영관리</strong>
                    <span class="nav_arrow gray">
                        <b></b>
                        <b></b>
                    </span>
                </a>
                <ul class="side_lnb_inner">
                    <li>
                        <a href="javascript:fnGoUrl('/cms/admin/listAdmin.do');">담당자관리</a>
                        <ul class="side_lnb_inner side_lnb_inner2"></ul>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#void" class="lnb_1depth">
                    <strong>회원관리</strong>
                    <span class="nav_arrow gray">
                        <b></b>
                        <b></b>
                    </span>
                </a>
                <ul class="side_lnb_inner" id="topMenuWrap100010001200">
                    <li class="">
                        <a href="javascript:fnGoUrl('/cms/user/listUser.do');">회원관리</a>
                        <ul class="side_lnb_inner side_lnb_inner2"></ul>
                    </li>
                </ul>
            </li>
            <script type="text/javascript">
                $('.lnb_1depth').click(function(){
                    if( $(this).next('.side_lnb_inner').is(':visible')){
                        $(this).next('.side_lnb_inner').removeClass('on').slideUp();
                        $(this).find('.nav_arrow').removeClass('on');
                    }else{
                        $(this).next('.side_lnb_inner').addClass('on').slideDown();
                        $(this).find('.nav_arrow').addClass('on');
                    };
                });
                $('.lnb_2depth').click(function(){
                    if( $(this).next('.side_lnb_inner').is(':visible')){
                        $(this).next('.side_lnb_inner').removeClass('on').slideUp();
                        //$(this).find('.nav_arrow').removeClass('on');
                    }else{
                        $(this).next('.side_lnb_inner').addClass('on').slideDown();
                        //$(this).find('.nav_arrow').addClass('on');
                    };
                });
            </script>
        </ul>

        <div class="side_footer">
            ⓒ2021 SSAFY.<br>All Rights Reserved.
        </div>
    </div>
    <script type="text/javascript">
    </script>
</th:block>
</html>