version: "3.8"

services:
  db:
    image: mysql:8
    restart: always
    container_name: my-mysql
    environment:
      MYSQL_ROOT_PASSWORD: alswjrtkrh
      MYSQL_DATABASE: petplace_db
      MYSQL_USER: ssafy
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: my-redis
    ports:
      - "6379:6379"
    # 비밀번호 쓰려면 아래 주석 해제:
    # command: ["redis-server", "--appendonly", "yes", "--requirepass", "yourStrongPass!"]
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-app
    depends_on:
      - db
      - redis
    environment:
      # --- MySQL (compose 네트워크 이름 'db' 사용) ---
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/petplace_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      SPRING_DATASOURCE_USERNAME: ssafy
      SPRING_DATASOURCE_PASSWORD: admin
      LOGGING_LEVEL_ROOT: INFO
      LOGGING_LEVEL_ORG_HIBERNATE_SQL: OFF
      LOGGING_LEVEL_ORG_HIBERNATE_TYPE_DESCRIPTOR_SQL: OFF


      # --- Redis (compose 네트워크 이름 'redis' 사용) ---
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      # 비밀번호 쓰면 같이 설정:
      # SPRING_DATA_REDIS_PASSWORD: yourStrongPass!

      # --- 앱 나머지 시크릿/설정 ---
      JWT_SECRET_KEY: "MyVeryLongAndSecureJwtSecretKeyForPetPlaceApplicationThatIsAtLeast64BytesLongToEnsureHS512SecurityStandards"
      PORTONE_API_KEY: "7058178427733754"
      PORTONE_SECRET_KEY: "EFYssJy7k7R6idJMXlzk0a8gBVli5IlF3YDA4OPRAYc2uvijEVUkutHag3eoxJnuVwSk4rY40oqNLOJP"
      PORTONE_STORE_ID: "MiliasTest"
      PORTONE_IMP_CODE: "imp87506456"
      PORTONE_WEBHOOK_SECRET: "whsec_UqOJgdD+H3im4jRGKy+WYXbYHgklkSKlR1IKe+gHIAA="
      PORTONE_V2_API_TOKEN: "1RKZ2Er5gjsTda1TrV2e5iQ0wFYSKlNDoRLp8Pj3j4JMYPkKYjkYhhCEPFLVX7gXYUfqnIOG2X54i6MM"      # (옵션) 카카오 소셜 값도 여기서 주입 가능
      # KAKAO_CLIENT_ID: ""
      # KAKAO_CLIENT_SECRET: ""
      # KAKAO_REDIRECT_URI: ""


    volumes:
      - /home/ubuntu/upload/images:/home/ubuntu/upload/images
    ports:
      - "8081:8081"
    restart: always
  similarity:
    build:
      context: ./similarity
      dockerfile: Dockerfile
    container_name: similarity
    command: [ "uvicorn", "app:app", "--host", "0.0.0.0", "--port", "8083", "--workers", "1" ]  # ← 추가
    restart: unless-stopped
    environment:
      - TZ=Asia/Seoul
      - USE_SERVER_YOLO=1            # 테스트 단계: 서버에서 탐지까지 수행
      - EMBED_BACKBONE=ViT-B-32
      - EMBED_PRETRAIN=openai
      - W_FACE=0.6
      - INDEX_DIR=/app/index_data
    volumes:
      - similarity_index:/app/index_data
    # 스프링(8080/8081)과 충돌 피하려고 외부포트 8083 사용
    ports:
      - "8083:8083"



volumes:
  mysql_data:
  similarity_index: