version: "3.8"

services:
  db:
    image: mysql:8
    restart: always
    container_name: my-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}   # 루트 비밀번호
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}             # 애플리케이션 DB 계정
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-app
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/${MYSQL_DATABASE}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}

      # --- JWT ---
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}

      # --- PortOne ---
      PORTONE_API_KEY: ${PORTONE_API_KEY}
      PORTONE_SECRET_KEY: ${PORTONE_SECRET_KEY}
      PORTONE_STORE_ID: ${PORTONE_STORE_ID}

    volumes:
      - ${UPLOAD_PATH_HOST}:${UPLOAD_PATH_CONTAINER}
    ports:
      - "${APP_PORT}:8081"
    restart: always

volumes:
  mysql_data:
