<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤드 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div id="wrapper">
        <!-- 본문 -->
        <th:block layout:fragment="content"></th:block>
        <!-- 공통 하단 -->
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </div>
    <!-- 공통 스크립트 -->
    <th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>